<template>
  <div id="app">
    <ViewPort />
  </div>
</template>

<script>
import ViewPort from './components/ViewPort.vue'

export default {
  name: 'App',
  components: {
    ViewPort
  }
}
</script>

<style>
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0px;
}
canvas {
  position: relative;
}
#app {
  height: 100%;
}
</style>
